extends layout

block content
  div.text-center
    h1.color-green= title
    p.color-green.bold Success payment
    p.color-green.bold your saleOrderId is : #{result.saleOrderId}
    p.color-green.bold your saleReferenceId is : #{result.saleReferenceId}
    p.color-green.bold your refId is : #{result.refId}
    p.color-green.bold your resCode is : #{result.resCode}
    a(href="/").btn.btn-info Go to home
