extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="http://localhost:4002/bank",method="post", name="bank")
    input(type="hidden", name="orderId", value="#{orderId}")
    input(type="hidden", name="token", value="#{token}")
    input(type="hidden", name="amount", value="#{amount}")
    input(type="hidden", name="callBackUrl", value="#{callBackUrl}")
    script.
      document.forms['bank'].submit()
